.content-section {
  text-align: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 50%;
  margin: 0 auto;
}

.content-section h1 {
  font-size: 3em;
}

.content-section p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ffcc00; /* Bright yellow, for example */
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px; /* Adjust radius as needed */
}
